{% extends 'starter-page.html' %}
{% load  static %}

{% block body %}

    <section id="hunting" class="houseHunting section">

        <div class="container">
          <h1 class="text-center text-bg-secondary mt-5 mb-4"><b>House Hunting</b></h1>
          <p>We simplify your house search by helping you find your ideal property with ease. <br>
                     We explore a wide range of properties tailored to your preferences</p>
           <p>We have advanced property search with filters for location, price, type, size and amenities making sure you get your preferred house at the area of your interest and within your budget</p>
                 <p>We also have map features showing various property features and nearby amenities.<br>
                    We also have personalized recommendations such as option to sign up for alerts or recommendations based on your preferences</p>
                 <p>Finally, we've got a dedicated section offering advice such as what to look for during property visits to ensure you check the most important features in a property.<br>
                    We also provide virtual tours of video walk-through to help you visualize properties in realtime without having to travel there physically beofore making a decision of obtaining it</p>


        </div>

    </section>


{% endblock %}