{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

    <section id="marketing" class="marketing section">

    <div class="container">
         <div>
             <h1 class="text-center text-bg-secondary mt-5 mb-4"><b>Property Listing </b></h1>
         </div>

         <p>We showcase available properties by listing them on the site to help you locate your desired property<br>
                We highlight featured properties including premium ones by indicating their location, price and payment options</p>
            <p>We also highlight social amenities available nearby, the agent and his/her full contact information.<br> Users can as well save favourite property and share with friendds<br>
            </p>

    </div>


    </section>


{% endblock %}