{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


    <section id="marketing" class="marketing section">

    <div class="container">
         <div>
             <h1 class="text-center text-bg-secondary mt-5 mb-4"><b>Marketing and Advertisement</b></h1>
         </div>

          <p>We display our professional advertisement skills by marketing property comprehensively to reach multiple potential clients at ago<br>
             We also indicate our partnership with other organizations to ensure we are giving all audience opportunity to test our services</p>
          <p>Our Property sell within 30days of advertisement, it therefore highly likely that your product will find clients within one month of advertising with us</p><br>


    </div>


    </section>



{% endblock %}