{% extends 'starter-page.html' %}
{% load static %}
{% block body %}

    <section id="negotiation" class="nego section">

        <div class="container">
            <h1 class="text-center text-bg-secondary mt-5 mb-4"><b>Buyer-Seller Negotiation</b></h1>
    <p>We act as negotiators between client and seller to ensure that they reach to terms that are favorable to both parties<br>
    We have experienced agents who bridge the gap  and finalize deals that both parties are contented with. We also offer articles to both client and seller to ensure that they understand market prices and avoid under-valuation or over-valuation of selected property </p>
    <p>We also act as conflict resolution party in case where the client is not satisfied with the services of the seller and has now started spitting fire<br>
    We guarantee assurance of support in resolving disputes and ensure there is harmony and coexistence</p>


        </div>


    </section>









{% endblock %}