{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


    <section id="transaction" class="transaction section" >

            <div class="container mt-5 mb-15">

                <h1 class="text-bg-secondary text-center mt-5 mt-5"><b>Transaction Management</b></h1>
                     <p>We ensure smooth, hassle-free real estate transactions<br>
                        We guide users through every satege of the transaction, from offer acceptance to closing the deal.<br>
                        We assist in document preparation and reviewing necessary paperwork to ensure there is no fraud or missing vital information</p>
                     <p>We also facilitate payment by ensuring secure payment options or connections to trusted financial institutions
                        <br>We also ensure timeline tracking by providing tools to keep buyers and sellers informed of key deadline</p>
                       <p>We prioritize transparency by ensuring real-time updates on transaction progress. We then ensure all processes meet legal and regulatory standards to saty right with the laws of the land</p>


            </div>




    </section>






{% endblock %}