{% extends 'starter-page.html' %}
{% load static %}
{% block body %}


    <section class="valuation" class="value section">

            <div class="container mt-5 mb-55">

                <h1 class="text-center text-bg-secondary mb-4 mt-5"><b>Property Valuation</b></h1>
                    <p>We provide services by advising on the methods used to arrive at the value of the property, such as market trends, location, size and condition<br>
                        We also allow users estimate their property value using online calculators and then provide a comprehensive report that includes comparable properties and analysis</p>
                    <p>We finally offer consultation services with valuation experts. This ensures accurate valuation and helps in setting realistic prices</p>


            </div>




    </section>





{% endblock %}